html {
  font-size: 22px;
  background-color: black;
}
* {
  font-family: Helvetica;
  color: seashell;
  opacity: 0.9;
  scroll-behavior: smooth;
}
body  {
  margin: 0px;
  padding: 0px;
}

header {
  background-color: black;
  position: fixed;
  top: 0px;
  width: 100%;
  height: 69px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom:1px solid seashell;
  z-index: 5;
  padding: 10px 0px;
}

header img {
  height: 50px;
  margin-left: 10px;
}

header nav {
  display: flex;
  justify-content: space-around;
}
header nav a {
  text-decoration: underline;
  margin: auto 10px;
  cursor: pointer;
}

main {
  position: relative;
  top: 90px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.section1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 700px;
  background-image: url('./Assets/img-mission-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.mission {
  background-color: black;
  width: 100%;
  text-align: center;
}

.section2 {
  width: 80%;
  text-align: center;
  padding-top: 70px;
}

.list {
  flex-wrap: wrap;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin-top: 10px;
}

.card {
  display: flex;
  flex-direction: column;
}

.card img {
  width: 300px;
  height: 200px;
}
.card h4 {
  margin-top: 10px;
}

.section3 {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 90%;
  background-image: url('./Assets/img-locations-background.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding: 5% 5%;
  margin-bottom: 50px;
  padding-top: 70px;
}
.section3 .list {
  align-items: center;
  display: flex;
  width: 100%;
  justify-content: center;
}
.cardLocations {
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  background-color: #000;
  opacity: 1;
  flex-direction: column;
  margin-top: 20px;
  margin-right: 20px;
  margin-left: 20px;
}

.contact {
  width: 100%;
  text-align: center;
}

.copyright {
  display: flex;
  text-align: left;
  width: 100%;
  font-weight: bold;
}
.copyright h3 {
  margin-left: 20px;
}




@media only screen and (max-width: 600px) {
  html {
    font-size: 18px;
  }
  header {
    flex-direction: column;
    height: 90px;
  }

  .copyright {
    display: flex;
    justify-content: center;
    text-align: center;
    width: 100%;
    font-weight: bold;
  }

}
