header {
  background-image: url('./assets/pattern.png');
  font-size: 100px;
  font-weight: bold;
  color: khaki;
  text-align: center;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  color: white;
}

.brushes {
  background-color: mediumspringgreen;
}
.frames {
  background-color: lightcoral;
}
.paint {
  background-color: skyblue;
}

section img {
  height: 250px;
  width: 250px;
}
* {
  font-family: Helvetica;
}

.price {
  color: Blue;
  font-weight: bold;
}